# Other Classification Exercise - Decision Tree Model

1) Build and validate a decision tree classification model with the following dataset.

Input dataset: 'iris-data-clean.csv'

Features: 'sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm'

Label: 'class'

Do not set the level of depth.

2) Set the level of depth to 3.  Send some data for prediction.

3) Set the level of depth to 1.  Send some data for prediction.  What is the outcome?  Describe your reason.

In [1]:
# import the things we need first
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [3]:
# we want to read in the csv file provided, noticed the path down in the read_csv() can be changed as we like.
df = pd.read_csv('iris-data-clean.csv')
df # show the first five rows

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
140,6.7,3.0,5.2,2.3,Virginica
141,6.3,2.5,5.0,1.9,Virginica
142,6.5,3.0,5.2,2.0,Virginica
143,6.2,3.4,5.4,2.3,Virginica
144,5.9,3.0,5.1,1.8,Virginica

In [ ]:
# change the type of these features to `category` for mapping in the next step
df['sepal_length_cm'] = df['sepal_length_cm'].astype('category')
df['sepal_width_cm'] = df['sepal_width_cm'].astype('category') 
df['petal_length_cm'] = df['petal_length_cm'].astype('category')
df['petal_width_cm'] = df['petal_width_cm'].astype('category') 
df['class'] = df['class'].astype('category') 

# use .cat.codes on `category` type to map all literals to numeric values
df['sepal_length_cm'] = df['sepal_length_cm'].cat.codes
df['sepal_width_cm'] = df['sepal_width_cm'].cat.codes
df['petal_length_cm'] = df['petal_length_cm'].cat.codes
df['petal_width_cm'] = df['petal_width_cm'].cat.codes
df['class'] = df['class'].cat.codes

df